In [1]:
import json
import pandas as pd

In [2]:
f = open('yelp_academic_dataset_business.json', encoding='utf-8')

bu = f.readlines()

# print(d)
f.close()

In [3]:
len(bu)

209393

In [4]:
type(bu)

list

In [5]:
# bu

In [6]:
test = bu

In [7]:
business_id = []
name = []
stars = []
review_count = []
categories = []

In [8]:
type(test[0])

str

In [9]:
for line in test:
    aa = json.loads(line)
    try:
        business_id.append(aa['business_id'])
    except AttributeError:
        business_id.append(None)
    try:
        name.append(aa['name'])
    except AttributeError:
        name.append(None)
    try:
        stars.append(aa['stars'])
    except AttributeError:
        stars.append(None)
    try:
        review_count.append(aa['review_count'])
    except AttributeError:
        review_count.append(None)
    try:
        categories.append(aa['categories'])
    except AttributeError:
        categories.append(None)

In [10]:
test1 = pd.DataFrame({'business_id':business_id, 'name':name, 'stars':stars,
                      'review_count':review_count, 'categories':categories})

In [11]:
test1.head()

,business_id,name,stars,review_count,categories
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,3.5,36,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD",5.0,4,"Health & Medical, Fitness & Instruction, Yoga,..."
2,XNoUzKckATkOD1hP6vghZg,Felinus,5.0,5,"Pets, Pet Services, Pet Groomers"
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,2.5,3,"Hardware Stores, Home Services, Building Suppl..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4.5,26,"Home Services, Plumbing, Electricians, Handyma..."

In [12]:
test1['categories'].unique()

array(['Active Life, Gun/Rifle Ranges, Guns & Ammo, Shopping',
       'Health & Medical, Fitness & Instruction, Yoga, Active Life, Pilates',
       'Pets, Pet Services, Pet Groomers', ...,
       'Contractors, Local Services, Appliances & Repair, Heating & Air Conditioning/HVAC, Water Heater Installation/Repair, Plumbing, Home Services',
       'Department Stores, Food, Mobile Phones, Fashion, Shopping, Grocery',
       'American (New), Food, Burgers, Restaurants, Fast Food'],
      dtype=object)

In [21]:
test1['categories'].isnull().value_counts()

False    208869
True        524
Name: categories, dtype: int64

In [23]:
test2 = test1[~(test1['categories'].isnull())]

In [24]:
test3 = test2[test2['categories'].str.contains('Food')]

In [25]:
test3.head()

,business_id,name,stars,review_count,categories
8,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,4.5,5,"Ethnic Food, Food Trucks, Specialty Food, Impo..."
12,M_guz7Dj7hX0evS672wIwA,Chocolate Shoppe Ice Cream,3.5,6,"Desserts, Food, Ice Cream & Frozen Yogurt"
20,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,3.0,5,"Food, Restaurants, Grocery, Middle Eastern"
23,mKTq1T_IAplDpHUcMzOXkw,Tipsy Ryde,3.5,3,"Hotels & Travel, Transportation, Taxis, Beer, ..."
25,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,4.5,7,"Japanese, Fast Food, Food Court, Restaurants"

In [26]:
test3['categories'].unique()

array(['Ethnic Food, Food Trucks, Specialty Food, Imported Food, Argentine, Food, Restaurants, Empanadas',
       'Desserts, Food, Ice Cream & Frozen Yogurt',
       'Food, Restaurants, Grocery, Middle Eastern', ...,
       'Ice Cream & Frozen Yogurt, Burgers, Restaurants, Food, American (Traditional), Fast Food',
       'Department Stores, Food, Mobile Phones, Fashion, Shopping, Grocery',
       'American (New), Food, Burgers, Restaurants, Fast Food'],
      dtype=object)

In [32]:
test3['categories'].isnull().value_counts()

False    40035
Name: categories, dtype: int64

In [33]:
test3.describe()

              stars  review_count
count  40035.000000  40035.000000
mean       3.472312     51.941526
std        0.922627    156.013733
min        1.000000      3.000000
25%        3.000000      6.000000
50%        3.500000     14.000000
75%        4.000000     43.000000
max        5.000000  10129.000000

In [35]:
test3.to_csv('company.csv', index = False, sep = ',', encoding = 'utf-8')